<header>
    <% if user_signed_in? %>
        <%= link_to "しろくまCanvas", books_path, class: "title-logo"  %>
        <nav>
            <ul>
                <li><%= link_to "みんなの投稿", books_path,  class: "menu" %></li>/
                <li><%= link_to "イラスト投稿", "/books/new",  class: "menu" %></li>/
                <li><%= link_to "チャット", "/chat/new",  class: "menu" %></li>
            </ul>        
        </nav>
        <div>
            <%= link_to "ログアウト", destroy_user_session_path, class: 'post', method: :delete %>
            <p class="login-message"><%= current_user.name %>さん、こんにちは！</p>
        </div>
    <% else %>
        <!-- ユーザーがログインしていなかった時の処理 -->
        <%= link_to "しろくまCanvas", root_path, class: "title-logo"  %>
        <div>
            <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
            <p class="login-message"> 現在ログインしていません </p>
        </div>
        
    <% end %>
</header>