<% @title = "みんなの投稿" %>
<h1><%= @title %></h1>

<div class="image-area">
    <% @books.each do |book| %>
        <div class="image-collection">
            <p>投稿者　 : <%= book.user.name %></p>
            <p>タイトル : <%= book.title %></p>
            <p class="comment">コメント : <%= book.body %></p>
            <p class="image"><%= image_tag book.image.to_s %></p>
        </div>
    <% end %>
</div>
