<% @title = "イラスト詳細" %>
<h1><%= @title %></h1>
<div class="image-details-collection">
    <div class="image-tag-area">
        <div><%= image_tag @book.image.to_s %></div>
    </div>
    <div>
        <p class="image-creator">投稿者　 : <%= @book.user.name %></p>
        <p class="image-details">タイトル : <%= @book.title %></p>
        <p class="image-details">コメント</p>
        <p class="comment-area"><%= @book.body %></p>
        
    </div>
</div>
<div class="return-btn">
    <%= link_to "戻る", books_path, class: "btn" %>
</div>

